<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Albums list</h1>
{% if albums %}
    <table cellpadding="0" cellspacing="0" border="1" style="border-collapse: collapse">
        <thead>
            <tr>
                <th>AlbumId</th>
                <th>Title</th>
                <th>Url</th>
                <th>localUrl</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td><a href="{% url 'album-details' album.id %}">{{ album.title }}</a></td>
                <td>{{ album.url }}</td>
                <td>{{ album.localUrl }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Albums not found
{% endif %}
</body>
</html>