<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="{% url 'albums-list' %}">back to list</a>
</div>
<h1>Album `{{ album.title }}` details</h1>
{% if album.photos %}
    <table cellpadding="0" cellspacing="0" border="1" style="border-collapse: collapse">
        <thead>
            <tr>
                <th>AlbumId</th>
                <th>Title</th>
                <th>Url</th>
                <th>localUrl</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in album.photos.all %}
        <tr>
            <td>{{ photo.title }}</td>
            <td>{{ photo.url }}</td>
            <td>{{ photo.thumbnailUrl }}</td>
            <td>{{ photo.localUrl }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}}
</body>
</html>